/*  AdminPraise 2 CSS
//  Copyright 2009 JoomlaPraise - Kyle Ledbetter
*/

body,#ap-wrapper,#ap-header,#ap-toolbar,#ap-right,#ap-footer {
background-color:#D6D6D6;
}
a,a:visited,a:link,a:active {
color:#000;
}
button,.next a {
background:#E0E0E0 url('../images/theme1/button-bg.jpg') repeat-x 0 0;
border:1px solid #686868;
}
fieldset {
border:1px solid #686868;
}
hr {
background-color:#646464;
}
/* Login */
#ap-cpanellogo {
background:transparent url('../images/theme1/cpanel-logo.png') no-repeat 0 0;
}
#login-body {
background-color:#646464;
}
#ap-login {
margin:50px auto 0 auto;
}
#ap-mainbody {
background-color:#646464;
}
#ap-inner,#ap-content,#ap-login {
border:1px solid #494949;
}
#ap-content .right,#ap-login .right {
border-left:1px solid #EFEFEF;
}
#ap-content .right .right,#ap-login .right .right {
border-left:0;
}
#ap-toolbar,#ap-crumbs,#ap-right,.header,#ap-content-sub,#ap-content-foot {
border-bottom:1px solid #494949;
}
#ap-content-sub,#ap-footer {
border-top:1px solid #494949;
}
#ap-header {
background:url('../images/theme1/header-bg.jpg') repeat-x 0 0;
}
#ap-crumbs {
background:#9D9D9D url('../images/theme1/crumbs-bg.jpg') repeat-x 0 0;
}
#ap-content,#ap-content-foot,#ap-login {
background-color:#FFF;
}
#ap-content-sub {
background-color:#EFEFEF;
}
#ap-logo {
background:url('../images/theme1/logo.png') no-repeat 0 0;
}
#ap-menu li.separator {

}
/* Editor */
#ap-editor #myeditor_selection  {
border:0px solid #868686;
background-color:#FFF;
}
/* theme chooser */
#ap-templatetheme #templateTheme {
border:0px solid #868686;
background-color:#FFF;
}
/* Search */
#ap-search input  {
border:1px solid #868686;
}
/* Toolbar Icons */
#ap-toolbar span {
border-right:1px solid #868686;
}
/* Recent Activity Select */
#ap-cpanel #ualog_form select {
border:1px solid #868686;
background:#FFF;
}
/* Crumbs */
#ap-crumbs span {
border-right:1px solid #494949;
}
#ap-crumbs span span {
border-right:0;
}
#ap-crumbs span.last span {
background:url('../images/theme1/crumb-on.jpg') repeat-x 0 0;
}
#ap-crumbs span:hover {
background:#BFBFBF;
cursor:pointer;
}
#ap-crumbs span.first:hover {
background:#9D9D9D url('../images/theme1/crumbs-bg.jpg') repeat-x 0 0;
cursor:default;
}

/* Headers */
.header,.icon-48-cpanel {
background:#5F9F31 url('../images/theme1/head-lime.jpg') repeat-x 0 0;
}
.icon-48-addedit {
background:#1E4E96 url('../images/theme1/head-blue.jpg') repeat-x 0 0;
}
.icon-48-module {
background:#720606 url('../images/theme1/head-red.jpg') repeat-x 0 0;
}
.icon-48-plugin {
background:#3C1E64 url('../images/theme1/head-purple.jpg') repeat-x 0 0;
}
.icon-48-thememanager {
background:#1E4E96 url('../images/theme1/head-blue.jpg') repeat-x 0 0;
}
.icon-48-component {
background:#18872B url('../images/theme1/head-green.jpg') repeat-x 0 0;
}
.header {
color:#FFF;
font-size:30px;
line-height:35px;
}
.header a {
color:#FFF;
}
.header .ap-user {
font-size:12px;
line-height:12px;
}
/* Tabs & Accordions */
.mootabs {
border-bottom:1px solid #494949;
}
.mootabs_title {
background:#8B8B8B url('../images/theme1/crumbs-bg.jpg') repeat-x 0 0;
border-bottom:1px solid #494949;
}
.mootabs_title li {
color: #000;
border-right:1px solid #494949;
}
.mootabs_title li.active,.panel h3.jpane-toggler-down {
background:#DEDEDE url('../images/theme1/tab-on.jpg') repeat-x 0 0;
}
.mootabs_panel {
color: #000;
}
.mootabs_panel.active,.panel {
background-color: #DEDEDE;
}
.mootabs_title li.over {

}
.panel h3.jpane-toggler {
background:#8B8B8B url('../images/theme1/crumbs-bg.jpg') repeat-x 0 0;
}
.panel {
border:1px solid #494949;
}
/* Condensed Tabs */
#sm-right .mootabs,#sm-right .mootabs_title {
border-bottom:0;
}
#sm-right .mootabs_panel.active,.panel {
border:1px solid #494949;
}
#sm-right .mootabs_title li,#sm-right .mootabs_title li.active {
background:#8B8B8B url('../images/theme1/crumbs-bg.jpg') repeat-x 0 0;
border-bottom:1px solid #494949;
}
#sm-right .mootabs_title li:hover {
background:#DEDEDE url('../images/theme1/tab-on.jpg') repeat-x 0 0;
}

/* Collapse */
#ap-collapse,#ap-expand {
background:url('../images/theme1/collapse-bg.jpg') repeat-x 0 0;
} 
#ap-collapse a {
background:url('../images/icons/menu/collapse-r.png') no-repeat 98% 0;
}
#ap-expand a {
background:url('../images/icons/menu/collapse-l.png') no-repeat 5px 0;
}

/* Cpanel */
#ap-content ul.ap-cplinks li a:hover {
background-color:#EFEFEF;
}

/* Toolbar */
#toolbar {
border-bottom:1px solid #494949;
background-color:#EFEFEF;
}
table.toolbar a {
color:#0B55C4 !important;
}

/* Table Data */
.text_area,.inputbox {

}
table.adminlist {

}
table.adminlist th {
background:#E0E0E0 url('../images/theme1/button-bg.jpg') repeat-x 0 0;
border-top:1px solid #494949;
border-bottom:1px solid #494949;
}
table.adminlist tr.row0 td,table.adminlist tr.row1 td,
table.adminform tr.row0 td,table.adminform tr.row1 td {
border-bottom:1px solid #CCC;
}
.mootabs table.adminlist td,
.mootabs table.adminform td {
border-bottom:1px solid #CCC;
background-color:#FFF;
}
table.adminlist tr.row0:hover td,table.adminlist tr.row1:hover td,
table.adminform tr.row0:hover td,table.adminform tr.row1:hover td {
background-color:#DFEBFF;
}
table.adminlist tr.row0 td,
table.adminform tr.row0 td {
background-color:#FFF;
}
table.adminlist tr.row1 td,
table.adminform tr.row1 td {
background-color:#F1F4F9;
}
table.adminlist td,
table.adminform td {
color:#555;
}
table.adminlist td a,
table.adminform td a {
color:#555;
}
/* Pagination */
.list-footer {
background-color:#EFEFEF;
border-top:1px solid #494949;
border-bottom:1px solid #494949;
}
.list-footer span {
background:#E0E0E0 url('../images/theme1/button-bg.jpg') repeat-x 0 0;
border:1px solid #DFDFDF;
color:#AFAFAF;
}
.list-footer a {
background:#E0E0E0 url('../images/theme1/button-bg.jpg') repeat-x 0 0;
border:1px solid #BDBDBD;
color:#000 !important;
}
table.adminheading {
background-color:#EFEFEF;
border-bottom:1px solid #494949;
}
table.adminform {
border:1px solid #686868;
}
/* Quicklaunch */
#adminPraiseComponentsListDiv {
background-color: #F0F0F0;
border:1px solid #494949;
}
#adminPraiseComponentsListDiv .icon {
background-color:#FFF;
border:1px solid #ECECEC;
}
#adminPraiseComponentsListDiv .icon a {
}
#adminPraiseComponentsListDiv .icon a:hover {
color:#000;
}
#adminPraiseComponentsListDiv .icon img {
}
/* Submenu */
ul#submenu {
background:#E0E0E0 url('../images/theme1/button-bg.jpg') repeat-x 0 0;
border-top:1px solid #686868;
border-bottom:1px solid #686868;
}
ul#submenu li {

}
ul#submenu li a {
border-right:1px solid #686868;
color:#333;
}
ul#submenu li a.active,ul#submenu li a:hover {
background:#9D9D9D url(../images/theme1/crumbs-bg.jpg) repeat-x 0 0;
color:#FFF;
}
/* Tooltip */
.tool-tip {
background:#9D9D9D url(../images/theme1/crumbs-bg.jpg) repeat-x 0 0 !important;
border: 1px solid #686868 !important;
}
.tool-title {

}
.tool-text {

}
/* System Message */
#system-message dd ul {


}
#system-message {
border-top:1px solid #FAD163;
border-bottom:1px solid #FAD163;
background-color:#FFF7D7;
}
/* Admintable Key */
table.admintable td.key, table.admintable td.paramlist_key {
background-color:#E6E6E6;
border-top:1px solid #FFF;
border-left:1px solid #FFF;
border-bottom:1px solid #D6D6D6;
border-right:1px solid #D6D6D6;
color:#666666;
}
/* Login */
#modlgn_username,#modlgn_passwd,#form-login-lang select.inputbox {
background-color:#E0E0E0;
border:1px solid #686868;
}
/* Tabs */
dl.tabs {
background:#E0E0E0 url('../images/theme1/button-bg.jpg') repeat-x 0 0;
border-top:1px solid #686868;
border-bottom:1px solid #686868;
}
dl.tabs dt {
border-right:1px solid #686868;
color:#333;
}
dl.tabs dt.open {
background:#9D9D9D url(../images/theme1/crumbs-bg.jpg) repeat-x 0 0;
color:#FFF;
}
/* Menu */
#menu ul {
background:#D6D6D6 none;
border-right:1px solid #686868;
border-bottom:1px solid #686868;
border-left:1px solid #686868;
}
#menu li.hover li a,#menu li.hover li.hover a {
margin:0 !important;
border:0 !important;
background:none !important;
padding:4px 1px 4px 4px !important;
}
#ap-content .left a {
text-decoration:underline;
}
