<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sante.EMR.SmartClient.OutBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sante.EMR.SmartClient.OutBox.Properties.Settings>
            <setting name="OutBox_DataWebService_DataService" serializeAs="String">
                <value>http://65.216.170.16/Services/DataService.asmx</value>
            </setting>
        </Sante.EMR.SmartClient.OutBox.Properties.Settings>
    </applicationSettings>
</configuration>